.gvacation-sidenav {
  .inbox {    
      input {
          text-transform: capitalize;
          padding: 0px 10px;
      }  
      input::-webkit-input-placeholder {
        text-align: center;
      }
      input::-moz-placeholder { /* Firefox 19+ */
        text-align: center;
      }
      input:-ms-input-placeholder { /* IE 10+ */
        text-align: center;
      }
      input:-moz-placeholder { /* Firefox 18- */
        text-align: center;
      }
     i {
       position: absolute;
       right: 10px;
       top: 10px;
     }
      .collection li {
          &:hover {
            background-color: #FFCDD2;                   
          }
          &:focus {
            background-color: #FFCDD2;                   
          }
          &.active {
            background-color: #FFCDD2;
          }
          a span,p{
            color:black;      
          }          
          i.approved {
            color:#03A9F4
          }
          i.declined {
            color:#FF5252
          }
      }      
  }
}
