.app-container {
    .section {
        h5:after{
            content: " Request";
        }
        span.badge {
            position: inherit;            
        }
        span.badge.new:after{
          content: " ";
        }
        span.badge.approved{            
          background-color: #03A9F4 !important;          
        }
        span.badge.declined{        
          background-color: #FF5252 !important;          
        }                                
    }
    .collection {
        border: none;
        .collection-item {
            background-color: #fafafa;
        }
    }
    .actions {
        padding-top: 25px;
        i.up {
            color: #03A9F4;
            &:hover{
                transition: all 1s ease-out;
                transform: translate(0, -10px);  
            }
        }
        i.down {
            color:#FF5252;
            &:hover{
                transition: all 1s ease-out;
                transform: translate(0, 10px);  
            }            
        }
    }
    .card-panel {
          position: relative;
          top: 50%;
          transform: perspective(1px) translateY(50%);
    }
}