/*http://www.materialpalette.com/indigo/amber*/
$primary-color: #F44336  !default;
$primary-text :#212121;
$secondary-color:#4CAF50;
$decline-color: #f9a825;

@import 'node_modules/materialize-css/sass/materialize.scss';
@import 'src/inbox/styles';
@import 'src/detail/styles';

body{
    background: #fafafa;
    font-family: 'Roboto';
    color: $primary-text;
}

main,footer{
    padding-left: 310px;
}

nav{
    color: white;
    background-color: $primary-color;    
}

section {
  text-align: center;
  padding-top: 15px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
      padding-left: 0;
    }
}

#nav-mobile {
  top:64px;
  background-color: #fafafa;
} 

.gvacation-sidenav {
  position: fixed;
  width: 310px;  
  left: 0;
  top: 0;
  margin: 0;
  transform: translateX(-100%);
  height: 100%;
  height: calc(100% + 60px);
  height: -moz-calc(100%);
  padding-bottom: 60px;
  background-color: #fff;
  z-index: 999;
  backface-visibility: hidden;  
  will-change: transform;
  backface-visibility: hidden;
  transform: translateX(-105%);

  &.fixed {
    left: 0;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    position: fixed
  }
}

@media only screen and (max-width: 992px) {
    .gvacation-sidenav.fixed {
        -webkit-transform:translateX(-105%);
        transform: translateX(-105%);
        overflow: auto !important;
    }
}

ul.gvacation-sidenav.fixed {
   overflow: hidden; 
}

ul.gvacation-sidenav.fixed:hover {
    overflow-y: auto;
}

a.button-collapse.top-nav {
    position: absolute;
    top: 12px;
    color: #fff;
    font-size: 36px;
    z-index: 2;
    i{
        font-size: 32px;
    }
}

/*** Customizations ***/
.btn-floating i {
  font-size: 1.5rem;
}
 

